  header {
      background-color: cadetblue;
      padding: 5rem;
  }

  h1 {
      text-align: center;
      font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
      color: white;
  }


  main {
      position: relative;
      padding: 2rem;
  }

  main::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: url(img/portada-euskadi-api.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
      opacity: 0.2;
      z-index: -1;
  }

  #tablaRanking,
  #tabla {
      border-collapse: collapse;
      width: 100%;
      margin-bottom: 20px;
  }

  #tabla {
      text-shadow: 0.5px 0.5px 0.5px rgba(0, 0, 0, 0.8);
  }

  th,
  td {
      border: 1px solid #8e8d8dc7;
      padding: 8px;
      text-align: left;
  }

  thead {
      background-color: cadetblue;
      color: white;
  }

  tr:hover {
      background-color: rgba(95, 158, 160, 0.199);
      cursor: pointer;
  }

  h2 {
      margin-top: 40px;
      margin-bottom: 40px;
      font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
      text-align: center;
  }

  h3 {
      font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

  }

  canvas {
      max-width: 900px;
      margin-top: 20px;
      display: block;
  }

  #filtrosGrafico {
      margin-top: 20px;
      padding: 10px;
      display: flex;
      gap: 20px;
      flex-wrap: wrap;
      align-items: center;
  }

  .indicador-titulo {
      font-weight: bold;
  }

  .enlace-region {
      text-decoration: none;
      display: block;
      padding: 1rem;
      color: black;
  }

  .enlace-region:hover {
      transform: translateX(1rem);
      transition: 1s;
  }

  .btn {
      background-color: cadetblue;
      text-align: center;
      padding: 1rem;
      width: 25%;
      color: white;
  }

  .btn:hover {
      color: black;
      background-color: rgba(95, 158, 160, 0.378);
      ;
  }

  footer {
      background-color: cadetblue;
      padding: 5rem;
      color: white;
      text-align: center;
      font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  }